/* link decoration */
a {
  color:burlywood;
  text-decoration:none;
  letter-spacing:1px;
}
a:hover {
  color:gold;
}
a#current {
  color:cornsilk;
}
body {
  background-color:black;
  color:cornsilk;
  font-size:80%;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align:left;
  margin-right:12%;
  margin-left:12%;
}
div#wrapper {
  background-color:#5E4D38;
  width:100%;
}
div#nav {
  color:silver;
  background-color:saddlebrown;
  width:100%;
  padding-bottom:4px;
  padding-top:2px;
}
div.footer {
  font-size:80%;
  color:peru;
  background-color:black;
  width:100%;
  padding-bottom:1px;
  padding-top:4px;
}
div.width {
  width:800px;
  text-align:left;
}
hr {
  background-color:peru;
  color:peru;
  border:0;
  width:100%;
}
img {
  text-decoration:none;
  border:thin solid;
}
img.noborder {
  border: 0 none;
  padding-top:4px;
}
/* general css IDs for layout manipulation */
#contact {
  text-align:left;
}
#floater {
  text-align:center;
}
#labels {
  float:left;
  text-align:right;
}
/* used to style 404 iframe pulling data from notfound.org */
#notfound_org {
  border:0;
}
/* general css classes for layout manipulation */
/* layout styling for custom 404 page elements */
.fourohfour {
  border:0;
  font-size:100%;
  text-align:left;
  width:800px;
}
/* used to style a generic block of code */
.code {
  margin-left:auto;
  margin-right:auto;
  width:80%;
  font-family:monospace;
  text-align:left
}
ul
{
list-style-type: none;
padding: 0px;
margin: 0px;
}
/* used to mark a public repo */
li.public {
  padding-left: 10px;
  background-image: url(images/icon_unlocked.gif);
  background-repeat: no-repeat;
  background-position: 0 .5em;
}
/* used to mark a private repo */
li.private {
  padding-left: 10px;
  background-image: url(images/icon_locked.gif);
  background-repeat: no-repeat;
  background-position: 0 .5em;
}
/* self-explanatory */
.superscript {
  vertical-align: super;
  font-size:60%;
}
