body {
  font-family:" Ubuntu", "Droid Sans", "Lucida Sans Unicode", sans-serif;
  text-align:left;
  margin-right:12%;
  margin-left:12%;
}
div#outer {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
div#wrapper { 
  text-align: left; 
  width: 100%; 
  margin-left: auto;
  margin-right: auto;
}
div#nav {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  clear:both;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
div#details {
  margin-right:12%;
  text-align:justify;
  margin-left: auto;
  margin-right: auto;
  }
div.header {
  font-size: 80%;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  margin-left: auto;
  margin-right: auto;
}
div.footer {
  font-size:80%;
  width: 100%; 
  padding-top: 5px;
  padding-bottom: 5px;
  vertical-align: middle;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
div.width {
  width: 100%; 
  text-align:left;
  margin-left: auto;
  margin-right: auto;
}
img {
  text-decoration:none;
  border: 0 solid;
}
img#logo {
  text-decoration:none;
  border:0 solid;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img#html5-logo {
  text-decoration:none;
  border:0 solid;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 32px;
}
img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 32px;
}
img.noborder {
  border: 0 none;
}
#labels {
  float:left;
  text-align:right;
}
#contact {
  text-align:left;
}
iframe {
  float:left;
  margin-right:64px;
}
#floater {
  text-align:center;
}
/* used to style 404 iframe pulling data from notfound.org */
#notfound_org {
  border:0;
}
/* general css classes for layout manipulation */
/* layout styling for custom 404 page elements */
.fourohfour {
  border:0;
  font-size:100%;
  text-align:left;
  width: 100%; 
  
/* used to style a generic block of code */
.code {
  margin-left:auto;
  margin-right:auto;
  width:80%;
  font-family:"monospace";
  text-align:left
}
ul
{
list-style-type: none;
padding: 0px;
margin: 0px;
}
li {
  padding-left: 10px;
  background-repeat: no-repeat;
  background-position: 0 2px;
}
/* used to mark a public repo */
li.public {
  background-image: url(images/icon_unlocked.gif);
}
/* used to mark a private repo */
li.private {
  background-image: url(images/icon_locked.gif);
}
/* self-explanatory */
.superscript {
  vertical-align: super;
  font-size:60%;
}