body {
  background-color:black;
  color:white;
  font-size:80%;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align:left;
  margin-right:12%;
  margin-left:12%;
}
div#wrapper {
text-align: left;
margin: 0 auto;
width: 900px;
border: 1px solid black;
}

div#nav {
  color:silver;
  background-color:saddlebrown;
  width:100%;
  padding-bottom:4px;
  padding-top:2px;

}
div#details {
  margin-right:12%;
  text-align:justify;
  }
div.footer {
  font-size:80%;
  color:peru;
}
div.width {
  width:800px;
  text-align:left;
}
div.404 {
  font-size:1.25em;
  width:800px;
  text-align:left;
}
img {
  text-decoration:none;
  border:thin solid;
}
img.noborder {
  border: 0 none;
}
a {
  color:burlywood;
  text-decoration:none;
  letter-spacing:1px;
}
a:hover {
  color:gold;
}
a#current {
  color:cornsilk;
}
#labels {
  float:left;
  text-align:right;
}
#contact {
  text-align:left;
}
iframe {
  float:left;
  margin-right:64px;
}
#floater {
  text-align:center;
}
.superscript {
  vertical-align: super;
  font-size:60%;
}
